.navbar {

  background-color: #de1d22;
}
#body{
  background-color: #f6f5f1;
}


#color-de-texto{
  color: white;
  font-family: 'Inter', sans-serif;
}

.h5{
  color: white;
  font-family: 'Inter', sans-serif;
  background-color: black;
}

.carousel-caption {
  color: black;
  font-family: 'Inter', sans-serif;
  background-color: white;
}

#card-red{
  background-color: #de1d22;
}
.card-text{
  color: #ededed;
}
.card-title{
  color: #ededed;
}

.btn-danger{
  background-color: #de1d22;
}
.fa-dna{
  color: white;
}
.fa-handshake{
  color: white;
}

.fa-landmark{
  color: white;
}
.fa-trophy{
  color: white;
}
